body {
    background-image: linear-gradient(whitesmoke, aqua , cyan, whitesmoke, plum ,violet, whitesmoke, burlywood, khaki);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: plum;
    text-align: center;
}

h3 {
    color: violet;
    text-align: center;
}

img {
    width: 952px;
    align-items: center;
}

#container {
    background-color: plum;
    width: 1024px;
    margin: 0 auto;
}

#menu {
    background-color: white;
    padding: 3px;
    border: 3px solid plum;
    box-align: center;
}

#artikel {
    text-align: center;
    background-color: white;
    margin: 20px;
    padding: 16px;
}

footer {
    text-align: center;
    margin-bottom: 50px;
}